//**** General Attributes ****//

body {
  font-family: 'Raleway', sans-serif;
  color: rgb(43, 41, 43); //dark grey
  min-height: 100vh;
}

//Fonts
.font-title {
  font-family: 'Patua One', cursive;
}
.font-text {
  font-family: 'Raleway', sans-serif;
}

//Font weight
.font-lighter {
  font-weight: 100;
}
.font-light {
  font-weight: 300;
}
.font-heavy {
  font-weight: 600;
}
.font-heavier {
  font-weight: 900;
}

//Text size
.text-size-xxl {
  font-size: 70px;
}
.text-size-xl {
  font-size: 50px;
}
.text-size-l {
  font-size: 30px;
}
.text-size-m {
  font-size: 20px;
}
.text-size-s {
  font-size: 17px;
}
.text-size-xs {
  font-size: 12px;
}
.text-size-xxs {
  font-size: 9px;
}

//Text color scheme
.text-black {
  color: rgb(0, 0, 0);
}
.text-white {
  color: rgb(255, 255, 255);
}
.text-dark-grey {
  color: rgb(43, 41, 43);
}
.text-grey {
  color: rgb(105, 100, 105);
}
.text-light-grey {
  color: rgb(200, 200, 200);
}
.text-dark-secondary {
  color: rgb(73, 37, 73);
}
.text-light-secondary {
  color: rgb(125, 64, 125);
}

//background-color scheme
.bg-black {
  background-color: rgb(0, 0, 0);
}
.bg-white {
  background-color: rgb(255, 255, 255);
}
.bg-dark-grey {
  background-color: rgb(43, 41, 43);
}
.bg-grey {
  background-color: rgb(105, 100, 105);
}
.bg-light-grey {
  background-color: rgb(200, 200, 200);
}
.bg-dark-secondary {
  background-color: rgb(73, 37, 73);
}
.bg-light-secondary {
  background-color: rgb(125, 64, 125);
}

//Links
.link {
  color: inherit;
}

.link:hover {
  color: inherit;
  text-decoration: none;
}

//Header
.site-navbar {
  border: 0.3px solid rgba(200, 200, 200, 0.5);
  border-radius: 15px;
}

.navbar-profile-photo-menu {
  left: inherit;
  right:5%;
}

//Footer
.site-footer {
  text-align: center;
}

/***Boxes***/
//Cards
.cards {
  column-width : 250px;
  column-gap: 0px;
  max-width: 100%;
}
.cards div {
  display: inline-block;
  break-inside: avoid;
}
.card-box {
  border: 1px solid rgba(200, 200, 200, 0.7);
  border-radius: 15px;
  padding: 10px;
  margin: 20px;
  width: 230px;
  word-wrap: break-word;

  h1 {
    margin-top: 0;
  }
}
.card-box-label {
  border-radius: 50px;
  @extend .bg-light-secondary;
  border: 3px solid lightgrey;
  @extend .text-white;
  @extend .font-title;
  height: 50px;
  padding: 0 5px;
  position: relative;
  top: -25px;
  left: -25px;

  display: flex;
  justify-content: center;
  align-content: center;

  p {
    text-align: center;
    position: relative;
    top: 20%;
  }
}

.box {
  @extend .site-navbar;
  padding: 5px 10px;
}

.edit-box {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  padding: 5px 10px;
  @extend .bg-light-grey;

  .sub-edit-box {
    border-radius: 5px;
    @extend .bg-white;
  }
}

//Articles
.article-section {
  white-space: pre-wrap;
  p {
    text-align: justify;
    text-justify: distribute;
  }
}

.profile-photo {
  width: 100px;
  height: 100px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 50px;

  background-image: url("https://www.sheldon-cooper.fr/wp-content/uploads/2014/08/sheldon-cooper-personnage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.navbar-profile-photo {
  @extend .profile-photo;
  width: 50px;
  height: 50px;

  position: absolute;
  top: 0;
}
